Arduino-Uno-RPi-NodeRed/nodered-flows.json
[{"id":"1982cecf.9c5c91","type":"tab","label":"ArduinoUno-RPi-communication","disabled":false,"info":""},{"id":"4a64f3d9.57947c","type":"serial in","z":"1982cecf.9c5c91","name":"Arduino Uno","serial":"204f9bd7.b98304","x":90,"y":220,"wires":[["c5397522.a1fa28"]]},{"id":"c5397522.a1fa28","type":"switch","z":"1982cecf.9c5c91","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"t=","vt":"str"},{"t":"cont","v":"h=","vt":"str"},{"t":"cont","v":"random=","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":220,"wires":[["9f123df7.8b5bd"],["61d9fc01.3426c4"],["440ef4b7.2928ec"]]},{"id":"440ef4b7.2928ec","type":"change","z":"1982cecf.9c5c91","name":"Preasure","rules":[{"t":"change","p":"payload","pt":"msg","from":"random=","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["fd71795c.ed8d68","45225329.e2f64c"]]},{"id":"61d9fc01.3426c4","type":"change","z":"1982cecf.9c5c91","name":"Humidity","rules":[{"t":"change","p":"payload","pt":"msg","from":"h=","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["8c8309f6.7c38d8"]]},{"id":"9f123df7.8b5bd","type":"change","z":"1982cecf.9c5c91","name":"Tempreature","rules":[{"t":"change","p":"payload","pt":"msg","from":"t=","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["aec3cc57.56f86","95beb66e.faebe8"]]},{"id":"fd71795c.ed8d68","type":"ui_gauge","z":"1982cecf.9c5c91","name":"Preasure number","group":"ebd2a509.b55138","order":0,"width":0,"height":0,"gtype":"gage","title":"Preasure ","label":"","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":320,"wires":[]},{"id":"aec3cc57.56f86","type":"ui_audio","z":"1982cecf.9c5c91","name":"Tempreature","group":"ebd2a509.b55138","voice":"en-US","always":true,"x":730,"y":180,"wires":[]},{"id":"95beb66e.faebe8","type":"ui_chart","z":"1982cecf.9c5c91","name":"Tempreature","group":"ebd2a509.b55138","order":3,"width":"0","height":"0","label":"Tempreature","chartType":"radar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"32","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":140,"wires":[[]]},{"id":"8c8309f6.7c38d8","type":"ui_chart","z":"1982cecf.9c5c91","name":"Humidity","group":"ebd2a509.b55138","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"60","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":240,"wires":[[]]},{"id":"45225329.e2f64c","type":"switch","z":"1982cecf.9c5c91","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"985","vt":"str"},{"t":"lte","v":"985","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":420,"wires":[["4d0dddcc.491814"],[]]},{"id":"619ef79e.f3b618","type":"e-mail","z":"1982cecf.9c5c91","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"dime.mileski@hotmail.com","dname":"Dime","x":1030,"y":440,"wires":[]},{"id":"4d0dddcc.491814","type":"function","z":"1982cecf.9c5c91","name":"","func":"var temp=msg.payload;\nmsg.to=\"dime.mileski@hotmail.com\";\nmsg.from=\"mileskidimitar@gmail.com\";\n\nvar d =new Date();\nvar message=\"\";\n\nmsg.topic=\"High Preasure Alarm\";\nmessage=\" High Preasure Alarm preasure= \";    \n \nmsg.payload=\"time:\"+d+message +msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":420,"wires":[["619ef79e.f3b618","346d8a4e.a99cb6"]]},{"id":"346d8a4e.a99cb6","type":"debug","z":"1982cecf.9c5c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":380,"wires":[]},{"id":"204f9bd7.b98304","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ebd2a509.b55138","type":"ui_group","z":"","name":"Arduino Uno Measurement","tab":"f1a4b8b.189a548","order":1,"disp":true,"width":"14","collapse":false},{"id":"f1a4b8b.189a548","type":"ui_tab","z":"","name":"viSee | Arduino Uno","icon":"Home","disabled":false,"hidden":false}]